<form #loginForm="ngForm" (ngSubmit)="login()" class="login-form">
    <div class="heading">Login</div>
    <div class="box">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" 
                required class="form-control" 
                placeholder="username" minlength="1" 
                [(ngModel)]="user.username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" 
                required id="password" 
                minlength="1" class="form-control" 
                placeholder="password" name="password"
                [(ngModel)]="user.password">
        </div>
        <div class="submit-container">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">
                Login <i class="fa fa-spin spinner" *ngIf="busy"></i>
            </button>
        </div>
    </div>
</form>