@import './src/sass/variables';

.login-form {
    max-width: 500px;
    margin: auto;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin-top: 40px;

    .box {
        padding: 10px;
        background: aliceblue;
    }

    .heading {
        background: $main-color;
        padding: 10px;
        font-size: 16px;
        color: white;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }
    .submit-container {
        text-align: center;
    }
}